# permissions for end users to edit imagerepositories.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: imagerepository-editor-role
rules:
- apiGroups:
  - appstudio.redhat.com.appstudio.redhat.com
  resources:
  - imagerepositories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appstudio.redhat.com.appstudio.redhat.com
  resources:
  - imagerepositories/status
  verbs:
  - get
