apiVersion: batch/v1
kind: CronJob
metadata:
  name: image-pruner-cronjob
spec:
  schedule: "0 0 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: image-pruner
            image: quay.io/konflux-ci/task-runner:1.1.0@sha256:19851d9fcc05a45adbaf830fba404743e5254f71b30842be57e526fdc9c1d3c5
            env:
              - name: QUAY_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: quaytoken
                    key: quaytoken
              - name: NAMESPACE
                valueFrom:
                  secretKeyRef:
                    name: quaytoken
                    key: organization
            imagePullPolicy: IfNotPresent
            command:
              - /bin/bash
              - '-c'
              - python3 /image-pruner/prune_images.py --namespace $(NAMESPACE)
            volumeMounts:
              - name: image-pruner-volume
                mountPath: /image-pruner
            resources:
              limits:
                cpu: 500m
                memory: 512Mi
              requests:
                cpu: 150m
                memory: 128Mi
            securityContext:
              readOnlyRootFilesystem: true
          restartPolicy: OnFailure
          securityContext:
            runAsNonRoot: true
          volumes:
            - name: image-pruner-volume
              configMap:
                name: image-pruner-configmap
            - name: quaytoken
              secret:
                secretName: quaytoken
